.layout-wrapper-home {
  width: 100%;
  height: 100%;
  .section-left {
    width: 50%;
    padding: 10px;
    margin-left: 30%;
    .paragraph-left {
      width: 100%;
    }
  }
  .section-right {
    width: 50%;
  }
  .button-black {
    background-color: black;
    color: white;
  }
  .second-section-left {
    width: 40%;
  }
  .second-section-right {
    width: 60%;
  }

  .offertProductCard-wrapper {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
    .button-red {
      margin: 15px 125px;
      width: 90px;
      height: 34px;
      text-align: center;
    }
    .prices-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .before-price {
        color: gray;
        text-decoration: line-through;
      }
    }
  }
  .favorites-item {
    margin: 10px auto;
    .descripiton-item {
      color: #8cbf55;
      margin: 5px;
    }
  }
}
